<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{url_for('static', filename = 'images/assets/favicon.png')}}" type="image/x-icon">
  <link rel="stylesheet" href="{{url_for('static', filename = 'css/main.css')}}" type="text/css">
  <title>CRUD</title>
</head>
<body>
  <header>
  {% include "components/header.html" %}
  </header>
  <main>
  {% block main %}
  {% endblock %}
  </main>
  <footer>
  {% include 'components/footer.html' %}
  </footer>
</body>
</html>